<section class="footer1 kidsm4_footer1 cid-uThB3uFYeJ" data-bs-version="5.1" id="footer1-2a">
  <svg class="svg-1" data-name="Layer 2" viewBox="0 0 1428 72.5" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
    focusable="false">
    <path class="cls-1"
      d="M-114,154.33s27.33-13,128-23c0,0,2.33,5.67,12,9.34,0,0,14.67,54.33,62.67,20a33.44,33.44,0,0,0,22.66-4s33,18.33,53-21L393,165s120,16.08,263.5,7,346.5-23.29,352-22.41S1203,147.5,1314,183V110.5H-114Z"
      transform="translate(114 -110.5)"></path>
  </svg>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="navbar-brand">
          <div class="logo">
            <a href="/">
              <img alt="Groei Sterker logo" class="navbar-logo" src="assets/images/olifantvlinder0.1.png"
                loading="lazy">
            </a>
          </div>
        </div>

        <p class="links mbr-fonts-style display-7">
          “Ieder kind groeit op zijn eigen manier. Bij Groei Sterker zorgen we samen dat die groei vol kracht en plezier
          is.”
        </p>

        <div class="social-list" aria-label="Social media">
          <div class="soc-item linkedin">
            <a href="https://www.linkedin.com/in/ainsley-muller-95432251/" target="_blank" rel="noopener"
              aria-label="LinkedIn">
              <img src="assets/images/elephant_Linkedin.png" alt="LinkedIn" loading="lazy">
            </a>
          </div>
          <div class="soc-item whatsapp">
            <a href="https://wa.me/31612721616" target="_blank" rel="noopener" aria-label="WhatsApp">
              <img src="assets/images/elephant_whatsapp.png" alt="WhatsApp" loading="lazy">
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <h3 class="mbr-bold mbr-fonts-style group-title display-5">Contact</h3>
        <div class="mbr-row items mbr-white">
          <div class="list-item col-sm-12">
            <div class="item-image">
              <a href="https://maps.app.goo.gl/iQJnAUbncyWkuH3T9" target="_blank"><img
                  src="assets/images/elephant_Map.svg" alt="Locatie" loading="lazy"></a>
            </div>
            <div class="social-data">
              <h5 class="mbr-fonts-style text2 display-7">Diamantlaan 1</h5>
              <h5 class="mbr-fonts-style text2 display-7">2132WV Hoofddorp</h5>
            </div>
          </div>
          <div class="list-item col-sm-12">
            <div class="item-image">
              <a href="tel:0612721616"><img src="assets/images/elephant_Telefoon.png" alt="Telefoon" loading="lazy"></a>
            </div>
            <div class="social-data">
              <h5 class="mbr-fonts-style text2 display-7">06 - 12 72 16 16</h5>
            </div>
          </div>
          <div class="list-item col-sm-12">
            <div class="item-image">
              <a href="contact.html#forms1-47"><img src="assets/images/elephant_Mail.png" alt="E-mail"
                  loading="lazy"></a>
            </div>
            <div class="social-data">
              <h5 class="mbr-fonts-style text2 display-7">info@groei-sterker.nl</h5>
              <h5 class="mbr-fonts-style text2 display-7"></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 img-list">
        <h3 class="mbr-bold mbr-fonts-style group-title display-5">Partners</h3>
        <a href="https://www.isstschrothmethod.com" target="_blank" rel="noopener"><img alt="Partner 1" class="isst"
            src="assets/images/isst_logo_optimized.png" loading="lazy"></a>
        <!-- <a href="https://pietheinfysiotherapie.nl" target="_blank" rel="noopener"><img alt="Partner 2" class="tips"
            src="assets/images/piethein_logo_tight.png" loading="lazy"></a> -->
        <a href="https://lchaarlemmermeer.nl" target="_blank" rel="noopener"><img alt="Partner 3" class="tips"
            src="assets/images/LC-logo.png" loading="lazy"></a>
        <!-- <a href="https://www.zorggroephaarlemmermeer.nl" target="_blank" rel="noopener"><img alt="Partner 4"
            class="logo-zorggroep" src="assets/images/Zorggroep-Haarlemmermeer-transparant-1.png" loading="lazy"></a> -->
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <h3 class="mbr-bold mbr-fonts-style group-title display-5">Openingstijden</h3>
        <div class="openings-container">
          <table id="openingstijden">
            <tr>
              <th></th>
              <th>Dag</th>
              <th>Tijden</th>
            </tr>
            <tr>
              <th></th>
              <td>Maandag</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <th></th>
              <td>Dinsdag</td>
              <td>09:00 - 18:00</td>
            </tr>
            <tr>
              <th></th>
              <td>Woensdag</td>
              <td>09:00 - 18:00</td>
            </tr>
            <tr>
              <th></th>
              <td>Donderdag</td>
              <td>09:00 - 14:00</td>
            </tr>
            <tr>
              <th></th>
              <td>Vrijdag</td>
              <td>Gesloten</td>
            </tr>
            <tr>
              <th></th>
              <td>Zaterdag</td>
              <td>Gesloten</td>
            </tr>
            <tr>
              <th></th>
              <td>Zondag</td>
              <td>Gesloten</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer1 kidsm4_footer1 cid-uThB3uFYeJ" data-bs-version="5.1" id="disclaimer">
  <a href="privacy.html" target="_blank" rel="noopener">
    Privacy
  </a> |<a href="algemene-voorwaarden.html" target="_blank" rel="noopener"> Algemene voorwaarden</a>
</section>
<script>
  // Jaar automatisch
  (function () { var y = document.getElementById('year'); if (y) y.textContent = new Date().getFullYear(); })();

</script>
</section>
<!-- End of footer section -->