@font-face {
   font-family: 'Cal Sans';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/yalmar/Library/Mobile%20Documents/com~apple~CloudDocs/Yalmar.nl/Clients/Groei%20Sterker/Site%20-%20v0.1/fonts/Cal Sans/regular.ttf') format('truetype');
}
